<div class = "board" cdkDropListGroup>

  <div  class = "upborder">
    <div class = "whitecorner"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "blackcorner"></div>
  </div>

  <div class = "blackside"><div class = "vertical-white-letter"><b>8</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a8']"
      [ngClass] = "{'white' : status['a8'], 'softred' : !status['a8'], 'softyellow' : colorOfCurrentMove['a8']}" 
      name = "a8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b8']"
      [ngClass] = "{'black' : status['b8'], 'red' : !status['b8'], 'yellow' : colorOfCurrentMove['b8']}" 
      name = "b8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c8']"
      [ngClass] = "{'white' : status['c8'], 'softred' : !status['c8'], 'softyellow' : colorOfCurrentMove['c8']}" 
      name = "c8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d8']"
      [ngClass] = "{'black' : status['d8'], 'red' : !status['d8'], 'yellow' : colorOfCurrentMove['d8']}" 
      name = "d8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e8']"
      [ngClass] = "{'white' : status['e8'], 'softred' : !status['e8'], 'softyellow' : colorOfCurrentMove['e8']}" 
      name = "e8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f8']"
      [ngClass] = "{'black' : status['f8'], 'red' : !status['f8'], 'yellow' : colorOfCurrentMove['f8']}" 
      name = "f8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g8']"
      [ngClass] = "{'white' : status['g8'], 'softred' : !status['g8'], 'softyellow' : colorOfCurrentMove['g8']}" 
      name = "g8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h8']"
      [ngClass] = "{'black' : status['h8'], 'red' : !status['h8'], 'yellow' : colorOfCurrentMove['h8']}" 
      name = "h8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>7</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a7']"
      [ngClass] = "{'black' : status['a7'], 'red' : !status['a7'], 'yellow' : colorOfCurrentMove['a7']}" 
      name = "a7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b7']"
      [ngClass] = "{'white' : status['b7'], 'softred' : !status['b7'], 'softyellow' : colorOfCurrentMove['b7']}" 
      name = "b7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c7']"
      [ngClass] = "{'black' : status['c7'], 'red' : !status['c7'], 'yellow' : colorOfCurrentMove['c7']}" 
      name = "c7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d7']"
      [ngClass] = "{'white' : status['d7'], 'softred' : !status['d7'], 'softyellow' : colorOfCurrentMove['d7']}" 
      name = "d7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e7']"
      [ngClass] = "{'black' : status['e7'], 'red' : !status['e7'], 'yellow' : colorOfCurrentMove['e7']}" 
      name = "e7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f7']"
      [ngClass] = "{'white' : status['f7'], 'softred' : !status['f7'], 'softyellow' : colorOfCurrentMove['f7']}" 
      name = "f7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g7']"
      [ngClass] = "{'black' : status['g7'], 'red' : !status['g7'], 'yellow' : colorOfCurrentMove['g7']}" 
      name = "g7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h7']"
      [ngClass] = "{'white' : status['h7'], 'softred' : !status['h7'], 'softyellow' : colorOfCurrentMove['h7']}" 
      name = "h7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>6</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a6']"
      [ngClass] = "{'white' : status['a6'], 'softred' : !status['a6'], 'softyellow' : colorOfCurrentMove['a6']}" 
      name = "a6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b6']"
      [ngClass] = "{'black' : status['b6'], 'red' : !status['b6'], 'yellow' : colorOfCurrentMove['b6']}" 
      name = "b6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c6']"
      [ngClass] = "{'white' : status['c6'], 'softred' : !status['c6'], 'softyellow' : colorOfCurrentMove['c6']}" 
      name = "c6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d6']"
      [ngClass] = "{'black' : status['d6'], 'red' : !status['d6'], 'yellow' : colorOfCurrentMove['d6']}" 
      name = "d6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e6']"
      [ngClass] = "{'white' : status['e6'], 'softred' : !status['e6'], 'softyellow' : colorOfCurrentMove['e6']}" 
      name = "e6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f6']"
      [ngClass] = "{'black' : status['f6'] , 'red' : !status['f6'] , 'yellow' : colorOfCurrentMove['f6']}" 
      name = "f6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g6']"
      [ngClass] = "{'white' : status['g6'], 'softred' : !status['g6'], 'softyellow' : colorOfCurrentMove['g6']}" 
      name = "g6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h6']"
      [ngClass] = "{'black' : status['h6'], 'red' : !status['h6'], 'yellow' : colorOfCurrentMove['h6']}" 
      name = "h6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>5</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a5']"
      [ngClass] = "{'black' : status['a5'], 'red' : !status['a5'], 'yellow' : colorOfCurrentMove['a5']}" 
      name = "a5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b5']"
      [ngClass] = "{'white' : status['b5'] , 'softred' : !status['b5'] , 'softyellow' : colorOfCurrentMove['b5']}" 
      name = "b5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c5']"
      [ngClass] = "{'black' : status['c5'], 'red' : !status['c5'], 'yellow' : colorOfCurrentMove['c5']}" 
      name = "c5"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d5']"
      [ngClass] = "{'white' : status['d5'], 'softred' : !status['d5'], 'softyellow' : colorOfCurrentMove['d5']}" 
      name = "d5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e5']"
      [ngClass] = "{'black' : status['e5'], 'red' : !status['e5'], 'yellow' : colorOfCurrentMove['e5']}" 
      name = "e5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f5']"
      [ngClass] = "{'white' : status['f5'], 'softred' : !status['f5'], 'softyellow' : colorOfCurrentMove['f5']}" 
      name = "f5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g5']"
      [ngClass] = "{'black' : status['g5'], 'red' : !status['g5'], 'yellow' : colorOfCurrentMove['g5']}" 
      name = "g5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h5']"
      [ngClass] = "{'white' : status['h5'], 'softred' : !status['h5'], 'softyellow' : colorOfCurrentMove['h5']}" 
      name = "h5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>4</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a4']"
      [ngClass] = "{'white' : status['a4'], 'softred' : !status['a4'], 'softyellow' : colorOfCurrentMove['a4']}" 
      name = "a4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a4']" (cdkDragStarted) = "started($event)" (cdkDragEnd) = "end($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b4']"
      [ngClass] = "{'black' : status['b4'], 'red' : !status['b4'], 'yellow' : colorOfCurrentMove['b4']}" 
      name = "b4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c4']"
      [ngClass] = "{'white' : status['c4'], 'softred' : !status['c4'], 'softyellow' : colorOfCurrentMove['c4']}" 
      name = "c4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d4']"
      [ngClass] = "{'black' : status['d4'], 'red' : !status['d4'], 'yellow' : colorOfCurrentMove['d4']}" 
      name = "d4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e4']"
      [ngClass] = "{'white' : status['e4'], 'softred' : !status['e4'], 'softyellow' : colorOfCurrentMove['e4']}" 
      name = "e4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f4']"
      [ngClass] = "{'black' : status['f4'], 'red' : !status['f4'], 'yellow' : colorOfCurrentMove['f4']}" 
      name = "f4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g4']"
      [ngClass] = "{'white' : status['g4'], 'softred' : !status['g4'], 'softyellow' : colorOfCurrentMove['g4']}" 
      name = "g4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h4']"
      [ngClass] = "{'black' : status['h4'], 'red' : !status['h4'], 'yellow' : colorOfCurrentMove['h4']}" 
      name = "h4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>3</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a3']"      
      [ngClass] = "{'black' : status['a3'], 'red' : !status['a3'], 'yellow' : colorOfCurrentMove['a3']}" 
      name = "a3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b3']"
      [ngClass] = "{'white' : status['b3'], 'softred' : !status['b3'], 'softyellow' : colorOfCurrentMove['b3']}" 
      name = "b3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c3']"
      [ngClass] = "{'black' : status['c3'], 'red' : !status['c3'], 'yellow' : colorOfCurrentMove['c3']}" 
      name = "c3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d3']"
      [ngClass] = "{'white' : status['d3'], 'softred' : !status['d3'], 'softyellow' : colorOfCurrentMove['d3']}" 
      name = "d3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e3']"
      [ngClass] = "{'black' : status['e3'], 'red' : !status['e3'], 'yellow' : colorOfCurrentMove['e3']}" 
      name = "e3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f3']"
      [ngClass] = "{'white' : status['f3'], 'softred' : !status['f3'], 'softyellow' : colorOfCurrentMove['f3']}" 
      name = "f3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g3']"
      [ngClass] = "{'black' : status['g3'], 'red' : !status['g3'], 'yellow' : colorOfCurrentMove['g3']}" 
      name = "g3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h3']"
      [ngClass] = "{'white' : status['h3'], 'softred' : !status['h3'], 'softyellow' : colorOfCurrentMove['h3']}" 
      name = "h3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>2</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a2']"
      [ngClass] = "{'white' : status['a2'], 'softred' : !status['a2'], 'softyellow' : colorOfCurrentMove['a2']}" 
      name = "a2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b2']"
      [ngClass] = "{'black' : status['b2'], 'red' : !status['b2'], 'yellow' : colorOfCurrentMove['b2']}" 
      name = "b2"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c2']"
      [ngClass] = "{'white' : status['c2'], 'softred' : !status['c2'], 'softyellow' : colorOfCurrentMove['c2']}" 
      name = "c2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d2']"
      [ngClass] = "{'black' : status['d2'], 'red' : !status['d2'], 'yellow' : colorOfCurrentMove['d2']}" 
      name = "d2"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e2']"
      [ngClass] = "{'white' : status['e2'], 'softred' : !status['e2'], 'softyellow' : colorOfCurrentMove['e2']}" 
      name = "e2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f2']"
      [ngClass] = "{'black' : status['f2'], 'red' : !status['f2'], 'yellow' : colorOfCurrentMove['f2']}" 
      name = "f2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g2']"
      [ngClass] = "{'white' : status['g2'], 'softred' : !status['g2'], 'softyellow' : colorOfCurrentMove['g2']}" 
      name = "g2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h2']"
      [ngClass] = "{'black' : status['h2'], 'red' : !status['h2'], 'yellow' : colorOfCurrentMove['h2']}" 
      name = "h2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>1</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a1']"
      [ngClass] = "{'black' : status['a1'], 'red' : !status['a1'], 'yellow' : colorOfCurrentMove['a1']}" 
      name = "a1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b1']"
      [ngClass] = "{'white' : status['b1'], 'softred' : !status['b1'], 'softyellow' : colorOfCurrentMove['b1']}" 
      name = "b1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c1']"
      [ngClass] = "{'black' : status['c1'], 'red' : !status['c1'], 'yellow' : colorOfCurrentMove['c1']}" 
      name = "c1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d1']"
      [ngClass] = "{'white' : status['d1'], 'softred' : !status['d1'], 'softyellow' : colorOfCurrentMove['d1']}" 
      name = "d1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e1']"
      [ngClass] = "{'black' : status['e1'], 'red' : !status['e1'], 'yellow' : colorOfCurrentMove['e1']}" 
      name = "e1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f1']"
      [ngClass] = "{'white' : status['f1'], 'softred' : !status['f1'], 'softyellow' : colorOfCurrentMove['f1']}" 
      name = "f1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g1']"
      [ngClass] = "{'black' : status['g1'], 'red' : !status['g1'], 'yellow' : colorOfCurrentMove['g1']}" 
      name = "g1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h1']"
      [ngClass] = "{'white' : status['h1'], 'softred' : !status['h1'], 'softyellow' : colorOfCurrentMove['h1']}" 
      name = "h1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div  class = "downborder" name = "downborder">
    <div class = "blackcorner"></div>
    <div class = "white"><span class = "white-letter"><b>a</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>b</b></span></div>
    <div class = "white"><span class = "white-letter"><b>c</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>d</b></span></div>
    <div class = "white"><span class = "white-letter"><b>e</b></span></div> 
    <div class = "black"><span class = "white-letter"><b>f</b></span></div>
    <div class = "white"><span class = "white-letter"><b>g</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>h</b></span></div>
    <div class = "whitecorner"></div>
  </div>    
</div>
<div class = "moves">
    <cdk-table [dataSource] = "gameMoves">
        <!-- Turn Column -->
        <ng-container cdkColumnDef = "turn">
          <cdk-header-cell *cdkHeaderCellDef> No. </cdk-header-cell>
          <cdk-cell *cdkCellDef="let element"> {{element.turn}} </cdk-cell>
        </ng-container>
      
        <!-- White Move Column -->
        <ng-container cdkColumnDef = "white">
          <cdk-header-cell *cdkHeaderCellDef> White </cdk-header-cell >
          <cdk-cell *cdkCellDef="let element"> {{element.white}} </cdk-cell>
        </ng-container>
      
        <!-- Black Move Column -->
        <ng-container cdkColumnDef = "black">
          <cdk-header-cell *cdkHeaderCellDef> Black </cdk-header-cell>
          <cdk-cell *cdkCellDef="let element"> {{element.black}} </cdk-cell>
        </ng-container>
      
        <cdk-header-row *cdkHeaderRowDef = "displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef = "let row; columns: displayedColumns;"></cdk-row>
    </cdk-table>
</div> 