<div class = "board" cdkDropListGroup>

  <div  class = "upborder">
    <div class = "whitecorner"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "black"></div>
    <div class = "white"></div>          
    <div class = "blackcorner"></div>
  </div>

  <div class = "blackside"><div class = "vertical-white-letter"><b>8</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a8']"
      [ngClass] = "status['a8'] ? 'white' : 'softred'" 
      name = "a8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b8']"
      [ngClass] = "status['b8'] ? 'black' : 'red'" 
      name = "b8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c8']"
      [ngClass] = "status['c8'] ? 'white' : 'softred'" 
      name = "c8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d8']"
      [ngClass] = "status['d8'] ? 'black' : 'red'" 
      name = "d8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e8']"
      [ngClass] = "status['e8'] ? 'white' : 'softred'" 
      name = "e8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f8']"
      [ngClass] = "status['f8'] ? 'black' : 'red'" 
      name = "f8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g8']"
      [ngClass] = "status['g8'] ? 'white' : 'softred'" 
      name = "g8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h8']"
      [ngClass] = "status['h8'] ? 'black' : 'red'" 
      name = "h8"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h8']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>7</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a7']"
      [ngClass] = "status['a7'] ? 'black' : 'red'" 
      name = "a7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b7']"
      [ngClass] = "status['b7'] ? 'white' : 'softred'" 
      name = "b7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c7']"
      [ngClass] = "status['c7'] ? 'black' : 'red'" 
      name = "c7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d7']"
      [ngClass] = "status['d7'] ? 'white' : 'softred'" 
      name = "d7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e7']"
      [ngClass] = "status['e7'] ? 'black' : 'red'" 
      name = "e7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f7']"
      [ngClass] = "status['f7'] ? 'white' : 'softred'" 
      name = "f7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g7']"
      [ngClass] = "status['g7'] ? 'black' : 'red'" 
      name = "g7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h7']"
      [ngClass] = "status['h7'] ? 'white' : 'softred'" 
      name = "h7"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h7']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>6</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a6']"
      [ngClass] = "status['a6'] ? 'white' : 'softred'" 
      name = "a6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b6']"
      [ngClass] = "status['b6'] ? 'black' : 'red'" 
      name = "b6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c6']"
      [ngClass] = "status['c6'] ? 'white' : 'softred'" 
      name = "c6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d6']"
      [ngClass] = "status['d6'] ? 'black' : 'red'" 
      name = "d6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e6']"
      [ngClass] = "status['e6'] ? 'white' : 'softred'" 
      name = "e6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f6']"
      [ngClass] = "status['f6'] ? 'black' : 'red'" 
      name = "f6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g6']"
      [ngClass] = "status['g6'] ? 'white' : 'softred'" 
      name = "g6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h6']"
      [ngClass] = "status['h6'] ? 'black' : 'red'" 
      name = "h6"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h6']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>5</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a5']"
      [ngClass] = "status['a5'] ? 'black' : 'red'" 
      name = "a5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b5']"
      [ngClass] = "status['b5'] ? 'white' : 'softred'" 
      name = "b5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c5']"
      [ngClass] = "status['c5'] ? 'black' : 'red'" 
      name = "c5"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d5']"
      [ngClass] = "status['d5'] ? 'white' : 'softred'" 
      name = "d5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e5']"
      [ngClass] = "status['e5'] ? 'black' : 'red'" 
      name = "e5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f5']"
      [ngClass] = "status['f5'] ? 'white' : 'softred'" 
      name = "f5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g5']"
      [ngClass] = "status['g5'] ? 'black' : 'red'" 
      name = "g5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h5']"
      [ngClass] = "status['h5'] ? 'white' : 'softred'" 
      name = "h5"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h5']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>4</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a4']"
      [ngClass] = "status['a4'] ? 'white' : 'softred'" 
      name = "a4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a4']" (cdkDragStarted) = "started($event)" (cdkDragEnd) = "end($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b4']"
      [ngClass] = "status['b4'] ? 'black' : 'red'" 
      name = "b4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c4']"
      [ngClass] = "status['c4'] ? 'white' : 'softred'" 
      name = "c4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d4']"
      [ngClass] = "status['d4'] ? 'black' : 'red'" 
      name = "d4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e4']"
      [ngClass] = "status['e4'] ? 'white' : 'softred'" 
      name = "e4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f4']"
      [ngClass] = "status['f4'] ? 'black' : 'red'" 
      name = "f4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g4']"
      [ngClass] = "status['g4'] ? 'white' : 'softred'" 
      name = "g4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h4']"
      [ngClass] = "status['h4'] ? 'black' : 'red'" 
      name = "h4"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h4']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>3</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a3']"      
      [ngClass] = "status['a3'] ? 'black' : 'red'" 
      name = "a3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b3']"
      [ngClass] = "status['b3'] ? 'white' : 'softred'" 
      name = "b3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c3']"
      [ngClass] = "status['c3'] ? 'black' : 'red'" 
      name = "c3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d3']"
      [ngClass] = "status['d3'] ? 'white' : 'softred'" 
      name = "d3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e3']"
      [ngClass] = "status['e3'] ? 'black' : 'red'" 
      name = "e3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f3']"
      [ngClass] = "status['f3'] ? 'white' : 'softred'" 
      name = "f3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g3']"
      [ngClass] = "status['g3'] ? 'black' : 'red'" 
      name = "g3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h3']"
      [ngClass] = "status['h3'] ? 'white' : 'softred'" 
      name = "h3"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h3']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div class = "blackside"><div class = "vertical-white-letter"><b>2</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a2']"
      [ngClass] = "status['a2'] ? 'white' : 'softred'" 
      name = "a2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b2']"
      [ngClass] = "status['b2'] ? 'black' : 'red'" 
      name = "b2"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c2']"
      [ngClass] = "status['c2'] ? 'white' : 'softred'" 
      name = "c2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d2']"
      [ngClass] = "status['d2'] ? 'black' : 'red'" 
      name = "d2"
      (cdkDropListDropped) = "drop($event)" 
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e2']"
      [ngClass] = "status['e2'] ? 'white' : 'softred'" 
      name = "e2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f2']"
      [ngClass] = "status['f2'] ? 'black' : 'red'" 
      name = "f2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g2']"
      [ngClass] = "status['g2'] ? 'white' : 'softred'" 
      name = "g2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h2']"
      [ngClass] = "status['h2'] ? 'black' : 'red'" 
      name = "h2"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h2']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "whiteside"></div>          

  <div class = "whiteside"><div class = "vertical-white-letter"><b>1</b></div></div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['a1']"
      [ngClass] = "status['a1'] ? 'black' : 'red'" 
      name = "a1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['a1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['b1']"
      [ngClass] = "status['b1'] ? 'white' : 'softred'" 
      name = "b1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['b1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['c1']"
      [ngClass] = "status['c1'] ? 'black' : 'red'" 
      name = "c1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['c1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['d1']"
      [ngClass] = "status['d1'] ? 'white' : 'softred'" 
      name = "d1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['d1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['e1']"
      [ngClass] = "status['e1'] ? 'black' : 'red'" 
      name = "e1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['e1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['f1']"
      [ngClass] = "status['f1'] ? 'white' : 'softred'" 
      name = "f1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['f1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['g1']"
      [ngClass] = "status['g1'] ? 'black' : 'red'" 
      name = "g1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['g1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "container">
    <div
      cdkDropList
      [cdkDropListData] = "cells['h1']"
      [ngClass] = "status['h1'] ? 'white' : 'softred'" 
      name = "h1"
      (cdkDropListDropped) = "drop($event)"
      [cdkDropListEnterPredicate] = "allowdrop">
      <div cdkDrag class = "box" *ngFor = "let item of cells['h1']" (cdkDragStarted) = "started($event)" (cdkDragEnded) = "ended($event)" [cdkDragData] = "item" [cdkDragDisabled] = "item.disbled"><span class='{{item.cssclass}}'><b>{{item.cvalue}}</b></span></div>
    </div>
  </div>
  <div class = "blackside"></div>          

  <div  class = "downborder" name = "downborder">
    <div class = "blackcorner"></div>
    <div class = "white"><span class = "white-letter"><b>a</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>b</b></span></div>
    <div class = "white"><span class = "white-letter"><b>c</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>d</b></span></div>
    <div class = "white"><span class = "white-letter"><b>e</b></span></div> 
    <div class = "black"><span class = "white-letter"><b>f</b></span></div>
    <div class = "white"><span class = "white-letter"><b>g</b></span></div>          
    <div class = "black"><span class = "white-letter"><b>h</b></span></div>
    <div class = "whitecorner"></div>
  </div>    
</div>
<div>{{res}}</div> 