:host /deep/ p
{
    font-size: 40px;
    margin: 0;
    text-align: center;
}
.white 
{
    background-color: #03A9F4;
    float: left;
    height: 50px;
    width: 50px;
}
.black
{
    background-color: #1976D2;
    float: left;
    height: 50px;
    width: 50px;
}
.rank
{
    display: block;
    float: left;
    height: 50px;
    width: 400px;
}
.board
{
    height: 400px;
    width: 400px;
}
:host /deep/ .white-piece
{
    color: white; 
}
:host /deep/ .black-piece
{
    color: black;
}
.cdk-drag-preview
{
    display: none;
}